@page "/ahilik/{currentPage:int=1}"
@model UI.Pages.Blog.Index

@{
    ViewData["Title"] = "Ahilik";
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Ahilik</h1>
            <span>Ahilik hakkındaki yazılarımıza bir göz atın.</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ahilik</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<div class="container clearfix">

    @if (Model.Blogs.Count <= 0)
    {
        <div class="alert alert-danger">Blog bulunamadı.</div>
    }
    else
    {
        <!-- Posts
        ============================================= -->
        <div id="posts" class="post-grid row grid-container gutter-30" data-layout="fitRows">

            @foreach (var item in Model.Blogs)
            {
                <div class="entry col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="entry-image">
                            <img src="/upload/blog/small/@item.Image" alt="@item.Title">
                        </div>
                        <div class="entry-title">
                            <h2>
                                <a href="/ahilik/@item.SeoUrl">@item.Title</a>
                            </h2>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class="icon-calendar3"></i>@item.CreationDate.ToString("dd/MM/yyyy")
                                </li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <p>
                                @item.Description
                            </p>
                            <a href="/ahilik/@item.SeoUrl" class="more-link">Devamını oku</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- #posts end -->

        <paginator custom-list-class="pagination-circle" current-page="@Model.Paging.CurrentPage" link-url="blog" total-pages="@Model.Paging.TotalPages"></paginator>
    }

</div>