@page "/blog/{seoUrl}"
@model UI.Pages.Blog.NewsSingle

@{
    ViewData["Title"] = Model.Blog.Title;
}

@section HeaderTitle
{
    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Bloglar</h1>
            <span>@Model.Blog.Title</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Anasayfa</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/blog">
                        Blog Yazıları
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Blog.Title</li>
            </ol>
        </div>

    </section><!-- #page-title end -->
}

<!-- Post Content
============================================= -->
<div class="postcontent col-lg-8 container">

    <div class="single-post mb-0">

        <!-- Single Post
        ============================================= -->
        <div class="entry clearfix">

            <!-- Entry Title
            ============================================= -->
            <div class="entry-title">
                <h2>@Model.Blog.Title</h2>
            </div><!-- .entry-title end -->

            <!-- Entry Meta
            ============================================= -->
            <div class="entry-meta">
                <ul>
                    <li>
                        <i class="icon-calendar3"></i>@Model.Blog.CreationDate.ToString("dd/MM/yyyy")
                    </li>
                </ul>
            </div><!-- .entry-meta end -->

            <!-- Entry Image
            ============================================= -->
            <div class="entry-image">
                <img class="img-fluid" src="/upload/blog/medium/@Model.Blog.Image" alt="@Model.Blog.Title">
            </div><!-- .entry-image end -->

            <!-- Entry Content
            ============================================= -->
            <div class="entry-content mt-0">
                @Html.Raw(Model.Blog.Content)
            </div>
        </div><!-- .entry end -->

    </div>

</div><!-- .postcontent end -->