@page "{currentPage:int=1}"
@using Core.Utilities.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UI.Areas.Admin.Pages.News.Index

@{
    ViewData["Title"] = "Haberler";
}

<section class="content">
    <!-- Default box -->
    <div class="d-flex justify-content-end mb-4">
        <a href="/admin/news/edit" class="btn btn-success">Yeni Haber Ekle</a>
    </div>
    @if (Model.News.Count <= 0)
    {
        <div class="alert alert-danger">Haber bulunamadı.</div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <b class="text-danger">Haberler</b>
                </h3>
            </div>

            <div class="card-body p-0 table-responsive">

                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 150px" class="text-center">
                            Proje İsmi
                        </th>
                        <th style="width: 300px" class="text-center">
                            İçerik
                        </th>
                        <th style="width: 150px" class="text-center">
                            Resim
                        </th>
                        <th style="width: 150px" class="text-center">
                            Durum
                        </th>
                        <th style="width: 10%">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.News)
                    {
                        <tr>
                            <td class="align-middle">
                                @item.Title
                                <br/>
                            </td>
                            <td class="align-middle">
                                @item.Content.StripTags().ShortText()
                                <br/>
                            </td>
                            <td class="zoom-gallery d-flex justify-content-center">
                                @if (!string.IsNullOrEmpty(item.Image))
                                {
                                    <a data-toggle="lightbox" href="/upload/news/small/@item.Image">
                                        <img alt="Avatar" class="img-fluid" src="/upload/news/small/@item.Image" style="height:75px" asp-append-version="true">
                                    </a>
                                    <br/>
                                }
                            </td>
                            <td class="project-state align-middle">
                                @if (item.IsActive)
                                {
                                    <span class="badge badge-success">Aktif</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Aktif değil</span>
                                }
                            </td>
                            <td class="project-actions text-right align-middle text-center" style="min-width:300px">
                                <a class="btn btn-primary btn-sm" href="/admin/news/detail/@item.SeoUrl">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Detay
                                </a>
                                @if (item.IsActive)
                                {
                                    <a class="btn btn-secondary btn-sm" href="/admin/news/changeStatus/@item.Id">
                                        Deaktive et
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success btn-sm" href="/admin/news/changeStatus/@item.Id">
                                        Aktifleştir
                                    </a>
                                }
                                <a class="btn btn-info btn-sm" href="/admin/news/edit/@item.Id">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm mt-2" href="/admin/news/delete/@item.Id">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <!-- /.card-body -->
        </div>
    }
    <!-- /.card -->
    <paginator custom-list-class="" current-page="@Model.Paging.CurrentPage" link-url="admin/news" total-pages="@Model.Paging.TotalPages"></paginator>
</section>

@section Scripts{
    <script src="~/admin/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    
    <script>
    $(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
          alwaysShowClose: true
        });
      });
    })
    </script>
    
    <script src="/lib/toastr/toastr.min.js"></script>
    
    @if (TempData["ErrorMessage"] is not null)
    {
        <script>
            toastr.error('@TempData["ErrorMessage"]', '', {timeOut: 1500});
        </script>
    }
}